<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back"></i>
        <span>Back</span>
       </a>
    </div>
    <div class="center sliding">Devices List</div>
  </div>
</div>
<div class="pages">
  <div data-page="devices" class="page">
    <div class="page-content">
      <div class="list-block">
        <ul>
          <li class="item-divider">owner uuid/token</li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="owner-uuid"></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="owner-token"></div>
            </div>
          </li>
          <li class="item-divider">trigger-1 uuid/token</li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="trigger-1-uuid"></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="trigger-1-token"></div>
              </div>
          </li>
          <li class="item-divider">trigger-2 uuid/token</li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="trigger-2-uuid"></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="trigger-2-token"></div>
              </div>
          </li>
          <li class="item-divider">trigger-3 uuid/token</li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="trigger-3-uuid"></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="trigger-3-token"></div>
              </div>
          </li>
          <li class="item-divider">trigger-4 uuid/token</li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="trigger-4-uuid"></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="trigger-4-token"></div>
              </div>
          </li>
          <li class="item-divider">trigger-5 uuid/token</li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="trigger-5-uuid"></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="trigger-5-token"></div>
              </div>
          </li>
          <li class="item-divider">action-1 uuid/token</li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="action-1-uuid"></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="action-1-token"></div>
            </div>
          </li>
          <li class="item-divider">action-2 uuid/token</li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="action-2-uuid"></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="action-2-token"></div>
            </div>
          </li>
          <li class="item-divider">action-3 uuid/token</li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="action-3-uuid"></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="action-3-token"></div>
            </div>
          </li>
          <li class="item-divider">action-4 uuid/token</li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="action-4-uuid"></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="action-4-token"></div>
            </div>
          </li>
          <li class="item-divider">action-5 uuid/token</li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="action-5-uuid"></div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner device-item">
              <div class="item-title" id="action-5-token"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
